.floating-button {
    position: fixed;
    bottom: 80px;
    right: 90px;
    background: #7db7aa;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}


.modal-container {
    position: fixed;
    bottom: 150px;
    right: 150px;
    width: 380px;
    height: 700px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
    
}

.modal-header {
    padding: 10px;
    text-align: right;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.modal-tabs {
    display: flex;
    justify-content: space-around;
    background: #e6f0ee;
}

.modal-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-tabs .active {
    background: #7db7aa;
    color: white;
}

.modal-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    text-align: center;
}

.tab-content {
    font-size: 16px;
}