.floating-button {
    position: fixed;
    bottom: 0;
    right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;

}

.floating-button:hover {
    background-color: transparent;
    transform: scale(1.1);
    
}

.floating-button1 {
    width: 75px; /* 고정 너비 */
    height: 75px; /* 고정 높이 */
    background-color: #a18cd1;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 내부 콘텐츠가 넘칠 경우 자르기 */
    text-align: center;
    transition: all 0.3s ease;
}

.floating-button1 :hover {
    transform: scale(1.15);
    
}

.floating-button2{
    position: fixed;
    bottom: 20px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    bottom: 100px;
    right: 150px;
    width: 380px;
    height: 630px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

.close-btn {
    position: absolute;
    top: 91vh;
    right: 140px;
    background: white;
    border: 2px solid #acacac;
    border-radius: 18px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 10px 8px 6px rgba(0, 0, 0, 0.2);
}

.modal-tabs {
    display: flex;
    justify-content: space-around;
    background: #8fb3e5;
}

.modal-tabs button {
    flex: 1;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.modal-tabs .active {
    background: #3a5b88;
    color: white;
}

.modal-body {
    flex: 1;
    padding: 18px;
    overflow-y: auto;
    text-align: center;
}

.tab-content {
    font-size: 16px;
    text-align: center;
}